@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '../base/colors';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  // background-color: $light;
  color: $textColor;
}

.btn {
  padding: 12px 20px;
  background: $gradientColor;
  border-radius: 3rem;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    background: $primary;
  }

  &:focus {
    background-color: #fff;
    color: #000;
  } 
}
// font-family: var(--bs-font-sans-serif);
// font-size: 1rem;
// font-weight: 400;
// line-height: 1.5;
// color: #848E9F;
// background-color: #fff;
// -webkit-text-size-adjust: 100%;
// -webkit-tap-highlight-color: rgba(0,0,0,0);

