@import '../../assets/stylesheets/base/colors';

.topInfo {
  border-bottom: 1px solid #dee2e6;
  padding-right: 1.3rem;

  .wrapper {
    .socials {
      a {
        &:hover {
          color: #848e9f;
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
}
